<%- include('./includes/header.ejs') %> 
<%- include('./includes/navigation.ejs') %> 
    

    <main>
        <div>
            <h2>Dodaj użytkownika</h2>
                
            <form action="/users" method="post" class="addForm">
                <div class="control">
                    <label for="firstname">Imię</label>
                    <input type="text" name="firstname" id="firstname" required>
                </div>

                <div class="control">
                    <label for="lastname">Nazwisko</label>
                    <input type="text" name="lastname" id="lastname" required>
                </div>
                
                <div class="control">
                    <label for="birthdate">Data urodzenia</label>
                    <input type="date" name="birthdate" id="birthdate" required>
                </div>

                <div class="control">
                    <label for="active">Konto aktywny</label>
                    <input type="checkbox" name="active" id="active">
                </div>

                <div class="control">
                    <label for="active">Płeć</label><br>
                    <label><input type="radio" name="sex" value="M">Mężczyzna</label><br>
                    <label><input type="radio" name="sex" value="K">Kobieta</lable><br>
                    <label><input type="radio" name="sex" value="I" checked>Inne</lable>

                </div>
                
                <input type="submit" value="Dodaj użytkownika">
            </form>
        </div>

        <div">
            <h2>Użytkownicy</h2>
            <% if (users.length===0) { %>
                <p>BRAK UŻYTKOWNIKÓW</p>
            <% }else{ %>
                <table>
                    <tr>
                        <th>Imię</th>
                        <th>Nazwisko</th>
                        
                        <th colspan="3">Operacje</th>
                        

                    </tr>
                    <% users.forEach(user => { %>
                        <tr>
                            <td><%= user.firstname  %> </td>
                            <td><%= user.lastname  %></td>
                            <td>
                                <form action="/details" method="post">
                                    <input type="hidden" name="userId" value="<%= user.id %>">
                                    <input type="submit" value="Szczegóły">
                                </form>
                            </td>

                            <td>
                                <form action="/edit" method="post">
                                    <input type="hidden" name="userId" value="<%= user.id %>">
                                    <input type="submit" value="Edytuj">
                                </form>
                            </td>
                            <td>
                                <form action="/delete" method="post">
                                    <input type="hidden" name="userId" value="<%= user.id %>">
                                    <input type="submit" value="Usuń">
                                </form>
                            </td>
                            
                        </tr>    
                    <% }) %>
                    
                    

                </table>
            <% } %> 
        </div>
    </main>
    
    
<%- include('./includes/footer.ejs') %> 
    